if SHIELD_GLIDE_LEFT

config ZMK_KEYBOARD_NAME
    default "Glide"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GLIDE_LEFT || SHIELD_GLIDE_RIGHT

config ZMK_SPLIT
    default y

endif
