# SPDX-License-Identifier: MIT

# 启用 nRF52840 的 DC-DC 电源转换器模式，降低功耗、延长电池续航，保留。
config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    # 激活 nRF52 系列芯片的 DC-DC 稳压驱动
    select SOC_DCDC_NRF52X
    # 默认开启
    default y
    # 仅在编译 shiduo3400 时生效
    depends on BOARD_SHIDUO3400
